<div class="footer">
    <span>&copy; Anne-Sophie Laville | 2020</span>
   <div>
    <small>Contactez-moi</small>  
        <div class="mail">
             
            <a href="mailto:anne-sophie.laville@etu.unilim.fr"><img src="/assets/image/mail.png"></a>
        </div>
        
   </div> 

   <div class="rs-container">
        <small>Retrouvez-moi</small>
        <div class="RS">
            <div class="mail"> 
                <a href=""><img src="/assets/image/linkedin.png"></a>
            </div>
            <div class="mail"> 
                <a href=""><img src="/assets/image/github.png"></a>
            </div>
            <div class="mail"> 
                <a href=""><img src="/assets/image/gitlab.png"></a>
            </div>
        </div> 
        
    </div> 
</div>
