<div id="animeteo">
    <div class="titre">
        <h1>Animétéo</h1>
     </div>
     <div class="container">
        <div class="text">
            <h2>Détail du projet</h2>
            <p>Animétéo est une application mobile pour android permettant à son utilisateur d'avoir la météo avec un conseil vestimentaire 
                donné par la mascote de Animétéo : un Pélican.
               <br><br> Notre objectif était donc de réaliser une application à installer sur les machines des agents de la Carsat Centre Ouest afin d'automatiser la saisie des formulaires.
            </p>
        </div>
       <div class="logo">
        <img src="/assets/image/animeteo.png">
       </div> 
            
    </div>
   <div class="info">
        <div class="maq">
            <div>
                <img src="/assets/image/maquette-animeteo.PNG" alt=""><br>
                <small>Accueil de l'application</small>
            </div>
            <div>
                <img src="/assets/image/maquette-2-animeteo.PNG" alt=""><br>
                <small>Page du conseil vestimentaire journalier</small>
            </div>        
        </div>
        <div class="textinfo">
            <b>Collaborateurs :</b>
            <p>Nicolas Pattyn, Antoine Ollé et Valentin Jandard</p>
            <b>Langages :</b>
            <p>Java, Android Studio</p>
            <b>Contexte :</b>
            <p>DUT Informatique 2ème année : Module M4104C </p>
            <a href="https://drive.google.com/file/d/1YPwPWJX8ES6O2qs7VF8zArIsOVMtDzKD/view?usp=sharing" target="_blank">
            <input type="button" value="Archive du projet">
        </a>
        </div>
   </div> 
 </div>