
<div class="contains" id="about">
    <div>
      <div class="titre">
        <img src="/assets/image/coding_before.png" alt="">
        <ngx-typed-js [strings]="['Présentation']" [loop]="true" [typeSpeed]="80">
          <h1 class="typing"></h1>
        </ngx-typed-js>
        <img id="after" src="/assets/image/coding_after.png" alt="">
      </div>
      
        <div class="edu">
            <!--TITRE-->
           <div class="timeline">
               <div class="date">
                <div id="date1">
                    <small>2018</small>
                </div> 
                <div class="carte">
                  
                <div id="card2">
                  <span>DUT Informatique</span><br />
                  <small>IUT du Limousin - Limoges (87)</small> 
                </div>
                <div class="lienhaut"></div>
                </div>
               
               </div>
                    <hr>
               
              <div class="bulle">
                  <div class="carte">
                    <div class="lien"></div>
                    <div id="card1">
                        <span>Baccalauréat Scientifiques SVT</span><br />
                        <small>Lycée Léonard Limosin - Limoges (87)</small> 
                      </div>
                  </div>
                  <div id="date2">
                    <small>2018 - 2020</small>
                </div> 
                  
                  
              </div>  
           </div> 
            
        </div>
    </div>
    <div class="hobbies">
        <div class="card">
            <div class="cardTop" id="judo">
            </div>
            <div class="cardBottom">
                <!--       Title and description will always show -->
                <h3 class="cardTitle">Judo - Jujitsu</h3>
                <!--       Only visibile when parent element is hovered over -->
                <div class="cardHoverText">
                  <p>Ceinture noire 1er Dan</p>
                  <p>Judo Club Couzeixois</p>
                </div>
                <!--       Only visibile when parent element is hovered over -->
            </div>
          </div>
          <div class="card">
            <div class="cardTop" id="piano">
            </div>
            <div class="cardBottom">
                <h3 class="cardTitle">Piano</h3>
                <!--       Only visibile when parent element is hovered over -->
                <div class="cardHoverText">
                    <p>Cycle III</p>
                  <p>Ecole de Musique de Couzeix</p>
                    
                </div>
            </div>
          </div>
          <div class="card">
            <div class="cardTop" id="travel">
            </div>
            <div class="cardBottom">
                <h3 class="cardTitle">Séjours Linguistiques</h3>
                <!--       Only visibile when parent element is hovered over -->
                <div class="cardHoverText">
                  Lorem Ipsum
                  
                </div>
            </div>
          </div>
    </div>
</div>
