.contains{
    background-color: #fafafa;
    width: 99%; 
    height: 200vh;
    margin: auto;
    box-sizing: border-box;
    
}

.titre img{
  width: 30px;
  height: 40px;
  padding:20px;
}

#after {
  width: 45px;
  height: 50px;
}

.titre{
  font-size: 50px;
  padding-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Mono', monospace;
  margin-bottom: 30px;
}

.center {
    text-align: center ;
    padding-top: 50px;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
}

.center span, .center b{
  font-size: 50px;
  font-size: 50px;
}

#projects {
    padding-top: 20px;                       ;
    color : black;
  }
.grid{
  padding: 60px;
  padding-top: 0;
  padding-bottom: 0;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid img, .grid h3{
  align-self: center;
}

.grid p{
  font-family: 'Roboto Mono', monospace;
  font-size: 13px;
  color: gray;
}

.grid p, .grid input, .grid b{
  visibility: hidden;
}
  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .grid a{
    align-self: flex-end;
  }

  #cars{
    border-bottom: none;
    padding-left: 38px;
    padding-right: 38px;
  }

  #anim{
    padding:50px;
    border-left: none;
    border-bottom:none;
  }

  #comb{
    padding:128px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-right: none;
  }


  #animeteo{
    width: 200px;
  }

 

  .grid:hover{
    background-color: #e3dee2;
  }

  .grid:hover img, .grid:hover h3{
    visibility: hidden;
    
  }

  .grid:hover p, .grid:hover input,.grid:hover b{
    visibility: visible;

  }

  input{
    background:none ;
    border: 1px solid black;
    width: 100px;
    height: 25px;
    transition: 0.2s ease;
    justify-self: flex-end;
  }

  input:hover{
    background:linear-gradient(-225deg,#ffb09f,#ffb39f 10%, #ffba9f 80%);
    color:white;
    border: none;
  }
