<div class="contains" id="projects">
    <div class="titre">
        <img src="/assets/image/coding_before.png" alt="">
        
        <img id="after" src="/assets/image/coding_after.png" alt="">
      </div>
    <div>
       <div class="container">
        <div class="grid" id="cars">
                <h3>Projet Tutoré pour la Carsat</h3>  
                <img id="carsat" src="/assets/image/carsat.gif" alt="">
                <b>Java</b> 
                <p>Création d'application de gestion des déplacements <br>pour les agents de la Carsat</p>
                <a href="/carsat#carsat"><input type="submit" value="Voir plus"></a>
        </div>
        <div class="grid" id="anim">
                <h3>Animétéo</h3>
                <img id="animeteo" src="/assets/image/animeteo.png" alt="">
                <b>Android Studio</b> 
                <p>Création d'application mobile de météo et conseil vestimentaire</p>
                <a href="/animeteo#animeteo"><input type="submit" value="Voir plus"></a>
        </div>
    </div>
   <div class="container">
        <div class="grid" id="comb">
                <h3>Combava</h3>
                <img id="combava" src="/assets/image/combava.png" alt="">
                <b>HTML / CSS</b> 
                <p>Création d'un site vitrine pour Combava, <br>une entreprise fictive de citronnade</p>
                <a href="/combava#combava"><input type="submit" value="Voir plus"></a>
        </div>
        <div class="grid">
            <div>
                <h3>Lorem Ipsum</h3>
                <img id="carsat" src="/assets/image/carsat.gif" alt="">
                <p>Lorem Ipsum</p>
                <a href="#"><input type="submit" value="Voir plus"></a>
            </div>
        </div>
    </div>
</div>
</div>

