<div id="carsat">
   <div class="titre">
       <h1>Projet Tutoré : Application de gestion des déplacements</h1>
    </div>
    <div class="container">
        <div class="text">
            <h2>Détail du projet</h2>
            <p>La Carsat est une organisation privée qui réalise des missions d'ordre public 
                dans les secteurs de la retraite et la santé au travail.
                Pour chaque mission nécéssitant un déplacement, l'agent doit remplir des documents administratifs sur la nature et les modalités du déplacement. 
                
               <br><br> Notre objectif était donc de réaliser une application à installer sur les machines des agents de la Carsat Centre Ouest afin d'automatiser la saisie des formulaires.
            </p>
        </div>
       <div class="logo">
        <img src="/assets/image/carsat.gif">
       </div> 
            
    </div>
   <div class="info">
        <div class="maq">
            <img src="/assets/image/maquette-carsat.PNG" alt=""><br>
            <small>Accueil de l'application</small><br>
        </div>
        <div>
            <b>Collaborateurs :</b>
            <p>Maxime Berduck, Mylan Deveau et Gautier Méchaussie</p>
            <b>Langages :</b>
            <p>Java, JavaFX, CSS</p>
            <b>Client :</b>
            <p>Responsable du service informatique de la Carsat Centre Ouest</p>
        </div>
   </div> 
    
    
</div>