<div class="contains" id="skills">
    <div class="titre">
        <img src="/assets/image/coding_before.png" alt="">
        
        <img id="after" src="/assets/image/coding_after.png" alt="">
      </div>
   <div class="container">
    <div class="card">
       <div class="item">
           <img src="/assets/image/html-5.png" alt="">
       </div>
    </div> 
    <div class="card">
        <div class="petit">
            <img src="/assets/image/css.png" alt="">
        </div>
     </div> 
     <div class="card">
        <div class="item">
            <img src="/assets/image/js.jpg" alt="">
        </div>
     </div> 
     <div class="card">
        <div class="petit">
            <img src="/assets/image/angular.png" alt="">
        </div>
     </div> 
     <div class="card">
        <div class="item">
            <img src="/assets/image/node.png" alt="">
        </div>
     </div> 
     <div class="card">
        <div class="item">
            <img src="/assets/image/php.png" alt="">
        </div>
     </div> 
     <div class="card">
        <div class="item">
            <img src="/assets/image/sql.png" alt="">
        </div>
     </div> 
     <div class="card">
        <div class="item">
            <img src="/assets/image/java.png" alt="">
        </div>
     </div> 
     <div class="card">
        <div class="item">
            <img src="/assets/image/c.png" alt="">
        </div>
     </div> 
   </div> 
   

</div>

