
<div class="contains-home" id="home">
<!-- img class="photo" src="/assets/image/as.png" alt="photo"-->
    
    
    <div class="identite">
        
        <div class="situation">
            <div data-aos="zoom-in" data-aos-duration="700" class="bloc_1">
                <img id="code_before" src="/assets/image/coding_before_blanc.png" alt="">
                <div class="bloc_2">
                    <b>Bonjour,</b><br />
                    <div class="presentation"> 
                        Je suis
                    <span class="etu">Étudiante en Informatique à l'IUT du Limousin</span><br />
                    <span class="web">Développeuse de Front et Back end sur Limoges</span><br />
                </div>
                <img id="code_after" src="/assets/image/coding_after_blanc.png" alt="">
            </div>
        </div>
       </div> 
        <div class="photo">
            <img class="moi" src="/assets/image/as.png" alt="">
        </div>
        <div class="card-container">
        
            <a class="circle-link" title="linkedin" href="https://www.linkedin.com/in/anne-sophie-laville-2141991a1/" target="_blank" rel="noopener">
                <img src="/assets/image/linkedin.png" alt="linkedin">
            </a>
        
            <a class="circle-link" title="github" href="https://github.com/laville16" target="_blank" rel="noopener">
                <img src="/assets/image/github.png" alt="github">
            </a>
        
            <a class="circle-link" title="gitlab" href="https://gitlab.com/aslaville" target="_blank" rel="noopener">
                <img src="/assets/image/gitlab.png" alt="gitlab">
            </a>
        </div>


            <a href="mailto:anne-sophie.laville@etu.unilim.fr" class="btn">contactez-moi</a>
        
           

</div>


  