<div id="combava">
    <div class="titre">
        <h1>Combava</h1>
     </div>
     <div class="container">
        <div class="text">
            <h2>Détail du projet</h2>
            <p>Dans un contexte fictif, le projet consistait à réaliser un site vitrine pour l'entreprise Combava spécialisée dans la vente de citronnade. 
                Il fallait mettre en avant les évènements de l'entreprise réalisés en partenariat avec différents magasins, 
                tout en respectant la charte graphique de l'entreprise.
               <br><br> L'objectif était donc de perfectionner nos connaissances HTML et CSS en réalisant un site internet responsive en utilisant la technique "mobile first".
            </p>
        </div>
       <div class="logo">
        <img src="/assets/image/combava.png">
       </div> 
            
    </div>
   <div class="info">
        <div class="maq">
                <img src="/assets/image/maquette-combava.PNG" alt=""><br>
                <small>Accueil du site</small>      
        </div>
        <div class="textinfo">
            <b>Langages :</b>
            <p>HTML, CSS</p>
            <b>Contexte :</b>
            <p>DUT Informatique 1ère année : Module IHM (Interface Homme Machine) </p>
           <div class="bouton">
                <a href="" target="_blank">
                    <input type="button" value="Lien du site">
                </a>
                <a href="" target="_blank">
                <input type="button" value="Archive du projet">
                </a>
           </div>
            
        </div>
   </div> 
 </div>
 